/* ===========COMMON STYLES============ */
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #999;
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* img{
    display: block;
} */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
/* --------------------------------------------------------------- */
/* =========================HEADER================================= */
.header-navigation-list{
    display: flex;
    justify-content: space-around;
}
/* ===========================FILMS=============================== */
.films-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.films-list-item{
        width: 280px;
    margin-right: 15px;
    margin-left: 15px;
}